typeattribute vendor_init data_between_core_and_vendor_violators;

# Allow vendor_init to check encryption status of system_data_file
allow vendor_init system_data_file:dir create_dir_perms;

allow vendor_init persist_file:lnk_file read;
