# custome tunables

on post-fs-data
    # Disable zram readahead
    write /proc/sys/vm/page-cluster 0

# Migrate tasks again in case kernel threads are created during boot
on property:sys.boot_completed=1
    copy_per_line /dev/cpuctl/tasks /dev/cpuctl/system/tasks
